<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!--使用在线引入，可能有……emm-->
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <title>基价管理</title>
</head>
<body>
<div class="container">
            <!--面板的情景样式-->
            <!--<div class="panel panel-primary">-->
            <div class="panel panel-default" style="margin: 10px">
                <div class="panel-heading">
                    <!--面板的标题-->
                    <h3 class="panel-title text-center">所有房间</h3>
                </div>
                <!--面板的主体-->
                <!--<div class="panel-body">-->
                    <!--在面板中嵌入一个表格-->
                    <table class="table table-bordered table-hover text-center" style="padding: 10px">
                        <thead>
                        <tr class="bg-success" >
                            <td>房间图片</td>
                            <td>房间类型</td>
                            <td>价格</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                {% load static %}
                                <img src="{% static "images/room_1.jpg" %}" alt="My image" width="100"></td>
<!--                                <img src="statics/images/room_1.jpg" alt="" width="100"></td>-->
                            <td><a href="">大床房</a></td>
                            <td>{{room1.rprice}}</td>
                        <tr/>
                        <tr>
                            <td>
                                {% load static %}
                                <img src="{% static "images/room_2.jpg" %}" alt="My image" width="100"></td>
<!--                                <img src="statics/images/room_1.jpg" alt="" width="100"></td>-->
                            <td><a href="">双床房</a></td>
                            <td>{{room2.rprice}}</td>
                        <tr/>
                        <tr>
                            <td>
                                {% load static %}
                                <img src="{% static "images/room_3.jpg" %}" alt="My image" width="100"></td>
<!--                                <img src="statics/images/room_1.jpg" alt="" width="100"></td>-->
                            <td><a href="">商务房</a></td>
                            <td>{{room3.rprice}}</td>
                        <tr/>
                        <tr>
                            <td>
                                {% load static %}
                                <img src="{% static "images/room_4.jpg" %}" alt="My image" width="100"></td>
<!--                                <img src="statics/images/room_1.jpg" alt="" width="100"></td>-->
                            <td><a href="">家庭房</a></td>
                            <td>{{room4.rprice}}</td>
                        <tr/>
                        <tr>
                            <td>
                                {% load static %}
                                <img src="{% static "images/room_1.jpg" %}" alt="My image" width="100"></td>
<!--                                <img src="statics/images/room_1.jpg" alt="" width="100"></td>-->
                            <td><a href="">六人豪华房</a></td>
                            <td>{{room5.rprice}}</td>
                        <tr/>
                            <form method="post">
                                <td>
                                <input id="type" type="text" list="typelist" placeholder="请选择房型" name="fangxing">
                                <datalist id="typelist">
                                　　<option>大床房</option>
                                　　<option>双床房</option>
                                   <option>商务房</option>
                                    <option>家庭房</option>
                                    <option>六人豪华房</option>
                                </datalist>
                                <input type="text" placeholder="请输入价格" name="nowprice">
                                <input type="submit" name="dprice" value="修改基价">
                                </td>
                            </form>

<!--                            <td><a href="">更改基价</a> | <a href="">确定基价</a></td>-->

                       </tbody>
                    </table>

            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <!--分页通常写到一对nav标签中,居中显示-->
            <nav class="text-center">
                <!--分页基类容器: .pagination-->
                <ul class="pagination pagination-md">
                    <li class="disabled"><a href="">«上一页</a></li>
                    <li class="active"><a href="">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">4</a></li>
                    <li><a href="">5</a></li>
                    <li><a href="">下一页»</a></li>
                </ul>

            </nav>

        </div>
    </div>

</div>

<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
<!--<script src="js/bootstrap.min.js"></script>-->
</body>
</html>