<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% load static %}
<link href="{% static "css/style2.css" %}" rel="stylesheet" />
<title>客户界面</title>
</head>

<body>
<div class="con">
  <div class="head">
    <div class="logo">
      <h1>hello！这里是客户界面……</h1>
    </div>
    <div class="nav">
      <ul>
        <li><a href="customerbook">预订房间</a></li>
        <li><a href="bookedroom">查看预订信息</a></li>


      </ul>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
  <div class="lunbo"><a href="#">
      {% load static %}
      <img src="{% static "images/start.jpg" %}"  width="720"/>
  </a></div>
  <div class="clear"></div>
  <div class="main">
      <p>&nbsp;</p>
    <h2>《osisa酒店》简介</h2>
    <p>这是一个在沙漠深处的酒店，让你看到美景</p>
    <p>在osisa，让你体验到乐趣和爱</p>
<p>&nbsp;</p>
    <div></div>
    <p>&nbsp;</p>
    <p></p>
    <p></p>
    <p></p>
  </div>
  <div class="clear"></div>
  <div class="clear"></div>
</div>
</body>
</html>
