<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
</head>
<body>
    <p>登录</p>
    <form method="post">
        <label for="username">账号：</label>
        <input type="text" name="username"><br><br>
        <label for="password">密码：</label>
        <input type="password" name="password"><br><br>
        <input type="submit" value="登录">
    </form>
    <p>还没有账号？注册一个吧：<a href="register">注册</a></p>
</body>
</html>